{% extends 'base.html' %}

{% block title %}

<title>About</title>
{% endblock %}

{% block content %}

<!-- Hero Image -->

<div style="width:100%; overflow:hidden;">
    <img src="https://sasom-products-bucket-prod.s3.ap-southeast-1.amazonaws.com/FOG_Article-01.png"
     style="width:100%; height:auto;">
</div>

<!-- About Brand -->

<div style="text-align:center; padding:50px 20px;">
    <h1>About Our Brand</h1>

```
<p style="max-width:700px; margin:auto; color:#666; font-size:18px;">
    Essential Clothing คือเว็บไซต์ตัวอย่างสำหรับแสดงสินค้าแฟชั่นสไตล์มินิมอล
    โดยได้รับแรงบันดาลใจจากแบรนด์ Fear of God Essentials
    เน้นเสื้อผ้าที่เรียบง่าย ใส่ได้ทุกวัน และมีคุณภาพสูง
</p>
```

</div>

<!-- Gallery -->

<h2 style="text-align:center;">Collection</h2>

<div style="
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
padding:30px;
">

```
<<img src="https://d2cva83hdk3bwc.cloudfront.net/fear-of-god-essentials-hoodie-light-oatmeal--ss22---1.jpg"
style="width:23%; transition:0.3s;"
onmouseover="this.style.transform='scale(1.05)'"
onmouseout="this.style.transform='scale(1)'">
     

<<img src="https://d2cva83hdk3bwc.cloudfront.net/192sp252050f-fear-of-god-essentials-classic-fleece-hoodie-jet-black-2.jpg"
style="width:23%; transition:0.3s;"
onmouseover="this.style.transform='scale(1.05)'"
onmouseout="this.style.transform='scale(1)'">
     

<<img src="https://d2cva83hdk3bwc.cloudfront.net/fear-of-god-essentials-fleece-hoodie-heather-gray-fw24-1.jpg"
style="width:23%; transition:0.3s;"
onmouseover="this.style.transform='scale(1.05)'"
onmouseout="this.style.transform='scale(1)'">


<<img src="https://d2cva83hdk3bwc.cloudfront.net/fear-of-god-essentials-hoodie-light-oatmeal--ss22---2.jpg"
style="width:23%; transition:0.3s;"
onmouseover="this.style.transform='scale(1.05)'"
onmouseout="this.style.transform='scale(1)'">

     
<<img src="https://d2cva83hdk3bwc.cloudfront.net/192sp252050f-fear-of-god-essentials-classic-fleece-hoodie-jet-black-1.jpg"
style="width:23%; transition:0.3s;"
onmouseover="this.style.transform='scale(1.05)'"
onmouseout="this.style.transform='scale(1)'">


<<img src="https://d2cva83hdk3bwc.cloudfront.net/fear-of-god-essentials-fleece-hoodie-heather-gray-fw24-2.jpg"
style="width:23%; transition:0.3s;"
onmouseover="this.style.transform='scale(1.05)'"
onmouseout="this.style.transform='scale(1)'">


<<img src="https://d2cva83hdk3bwc.cloudfront.net/192sp254782f-fear-of-god-essentials-classic-fleece-zip-up-hoodie-heather-stone-ss25-2.jpg"
style="width:23%; transition:0.3s;"
onmouseover="this.style.transform='scale(1.05)'"
onmouseout="this.style.transform='scale(1)'">


<<img src="https://d2cva83hdk3bwc.cloudfront.net/192sp254782f-fear-of-god-essentials-classic-fleece-zip-up-hoodie-heather-stone-ss25-1.jpg"
style="width:23%; transition:0.3s;"
onmouseover="this.style.transform='scale(1.05)'"
onmouseout="this.style.transform='scale(1)'">

</div>

{% endblock %}
